<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta charset="UTF-8">
		<meta name="description" content="My name is Matthew Macartney and I am a Front-end developer based in Manchester">
		<meta name="keywords" content="Front-end, developer, HTML, CSS, JavaScript, jQuery">
		<meta name="author" content="Matthew Macartney">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="./main.css">
	</head>
	
	<body>
		<header>
			{{>header/header}}
			{{>banner/banner}}
		</header>

		<div class="main">
			{{>strip/text-strip}}
			{{>strip/side-strip}}
			{{>strip/work-strip}}
			{{>strip/development}}
			{{>strip/education}}
		</div>

		{{>footer/footer}}
	</body>
</html>