<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="./main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</head>
	
	<body>
		{{>header/header}}
		{{>banner/banner}}
		{{>strip/text-strip}}
		{{>strip/side-strip}}
		{{>strip/work-strip}}
		{{>strip/development}}
		{{>strip/education}}
		{{>footer/footer}}
	</body>
</html>