<footer class="footer">

	<ul class="footer__list">
		<li class="footer__item">
			<a class="footer__link social__twitter" href="https://twitter.com/MMacartney1"></a>
		</li>
	</ul>

	<p class="footer__content">Created by Matthew Macartney</p>

</footer>