<div class="banner">


	<img class="banner__image" src="./banner.jpg" width="" height=""/>

	<h1 class="banner__title">
		<span class="banner__title-main">Matthew Macartney</span>
		<span class="banner__title-sub">Front-end web developer</span>
	</h1>

</div>