<article class="strip strip-light">
	<h2 class="strip__heading">Personal Development</h2>

	<p class="strip__content">I find it very important as a Front-end developer to stay up-to-date 
	with my discipline as it is a very quick paced industry. I do this by attending meet ups such as upfront conf and following a number of web development Twitter accounts. I also sign up to newsletters such as CSS weekly
	and JavaScript weekly, which provide me with solid information about new technologies being
	used and new ways in which existing ones can be used.</p>

	<p class="strip__content">To further my personal development I use these technologies in personal projects as it allows me
	to experiment with new things without the constraints time or budgets. I frequently create code
	pens to test out new CSS skills I find and I have other projects where I use new frameworks. For
	example I have been creating a simple style guide using NodeJS, Express, Socket.io and handle
	bars and I am now moving on to create the same thing using ReactJs and Flux.</p>
</article>