<div class="strip strip-dark">
	<h2>Education</h2>

	<h3>Hyper Island, Manchester – 29th July 2014 – 25th September 2015.</h3>
<p>Higher Level Apprenticeship in Interactive design & development.</p>
<h3>South Trafford College, Altrincham – September 2013 – June 2014.</h3>
<p>BTech – Software development: Grade – Distinction*Distinction*Distinction.</p>

</div>