<div class="strip strip-light">

	<h2 class="strip__heading">Skill Set</h2>

	<div class="strip__content">
		<ul>
			<li>HTML5 |</li>
			<li>CSS3 |</li>
			<li>JavaScript |</li>
			<li>jQuery |</li>
			<li>SASS |</li>
			<li>Handlebars |</li>
			<li>Grunt |</li>
			<li>Gulp |</li>
			<li>Git |</li>
			<li>NodeJs |</li>
			<li>Express |</li>
			<li>ReactJS |</li>
			<li>Flux |</li>
			<li>Webpack |</li>
			<li>Mongo DB |</li>
			<li>Responsive Web Design |</li>
			<li>Progressive Enhancement |</li>
			<li>SEO/SEM |</li>
			<li>TDD |</li>
			<li>UX |</li>
			<li>UI |</li>
			<li>Visual Web Optimiser |</li>
			<li>BEM</li>
		</ul>
	</div>
</div>