<div class="strip strip-light">

	<h2 class="strip__heading">Skill Set</h2>

	<div class="strip__content">
		<p>HTML5 | CSS3 | JavaScript | jQuery | SASS | Handlebars | Grunt | Gulp | Git | NodeJs | Express |
ReactJS | Flux | Webpack | Mongo DB | Responsive Web Design | Progressive Enhancement |
SEO/SEM | TDD | UX | UI | Visual Web Optimiser | BEM</p>
	</div>
</div>