//strip styles

.strip {
	width: 94%;
	padding: 20px 3%;
	display: inline-block;

	&-dark {
		background-color: $c-black;
		color: $c-white;

		&__text {
		    width: 100%;
		    display: inline-block;
		    float: left;

		    @include respond-max {
		    	width: 100%;
		    }
		}
	}

	&-light {
		background-color: $c-white;
		color: $c-black;
	}

	&__content li:after {
		content: ' |'
	}
}