<article class="strip strip-light">

	<h2 class="strip__heading">Profile</h2>

	<div class="strip__content">
	<p>I have been working as a Front-end developer for over a year coding and maintaining websites. I
	have a joy for solving problems and working in a team to produce something great. I am
	hardworking and motivated to not only produce great work but strive to find new ways of
	producing better work. My goal is to produce the best solution possible for all users no matter
	what device size or type while keeping site performance to a high standard.</p>
	</div>
</article>