<div class="strip strip-dark">

	<div class="strip-dark__container">
	<div class="strip-dark__text">
		<h2>Career</h2>
		<p>Code Computerlove – Apprentice Front-End Web Developer: From July 2014, To October 2015</p>
		<ul>
			<li>
				<p>Used ReactJS and Flux to create an appointment booking form.</p>
			</li>
			<li>
				<p>Standard HTML5, CSS3/SASS and JavaScript/jQuery development.</p>
			</li>
			<li>
				<p>Ensured top level site performance optimising JavaScript and CSS using technologies such
				as Chrome Dev tools, Google Page Speed insights and task runners such as gulp.</p>
			</li>
			<li>
				<p>Site maintenance on Hillarys Blinds, Transpennine Express, Hull Trains and HMV.</p>
			</li>
			<li>
				<p>A/B testing using Visual Web Optimiser.</p>
			</li>
		</ul>
	</div>


		<div class="strip-dark__image strip-dark__image--large"></div>
	</div>

	<ul class="strip-dark__list">
		<li class="strip-dark__item">
			<div class="strip-dark__image"></div>
		</li>
		<li class="strip-dark__item">
			<div class="strip-dark__image"></div>
		</li>
		<li class="strip-dark__item">
			<div class="strip-dark__image"></div>
		</li>
	</ul>
</div>