<div class="header">
	<a class="header__content" href="mailto:matthew.macartney@hotmail.co.uk">matthew.macartney@hotmail.co.uk</a>
	<div class="header__image">
		<img class="header__image-item" src="./me.jpg" alt="Matthew Macartney" width="80" height="60"/>
	</div>
</div>