//header - styles for header

.header {
	background-color: $c-blue;
	width: 100%;
	height: 42px;
	position: fixed;
	top: 0;
	z-index: 100;
	box-shadow: 0 3px 10px $c-black;

	&__content {
		color: $c-white;
		padding: 0;
		margin: 10px 0 0 10px;
		float: left;
		text-decoration: none;
	}

	&__image {
		width: 60px;
		height: 60px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50px;
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		overflow: hidden;

		@include respond-max {
			margin-right: 0;
		}

		&-item {
			height: 60px;
			position: relative;
			left: -30%;
		}
	}
}