<header class="header">
	<p class="header__content">matthew.macartney@hotmail.co.uk</p>
	<div class="header__image">
		<img class="header__image-item" src="./me.jpg" alt="Matthew Macartney" width="80" height="60"/>
	</div>
</header>