//defaut styles

body {
	margin: 0;
	font-family: 'Open Sans',Verdana,Arial,sans-serif;
}
  ///////////
 //colours//
///////////

$c-blue: #49BDCA;
$c-white: #ffffff;
$c-grey: #424242;
$c-black: #232323;

@mixin respond-min {
	@media screen and (min-width: 670px) {
		@content;
	}
}

@mixin respond-max {
	@media screen and (max-width: 670px) {
		@content;
	}
}

.main {
	width: 100%;
	margin-bottom: 60px;

	@include respond-min {
		width: 670px;
		margin: 0 auto 60px;
		display: block;
	}
}